<div class="sorter simpleSelect">
	<a class="direction ${view.collection.direction}">
		{superpanel.sortBy} <span class="fieldName">${currentText}</span>
		<i class="ascIcon"></i>
		<i class="descIcon"></i>
	</a>

	<a class="selector"><i class="fa fa-caret-down"></i></a>

	<span class="selection">
		<ul>
			<% _.each(view.properties, function(propertyText, propertyName) {%>
				<li>
					<a class="selectLink" data-property="${propertyName}">${propertyText}</a>
				</li>
			<% }); %>
		</ul>
	</span>
</div>